# PROMEDIO MOVIL

## Calcular promedio movil

In [1]:
### Promedio Móvil
# Vamos a crear un DataFrame con los datos y luego procederemos a calcular el promedio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# el DataFrame se llama movil
exporta = {
    'Año':[2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2011],
    'Exportaciones':[5501.0, 6232.7, 8118.3, 10137.00, 10449.50, 12794, 13193.00, 16036.2, 18496.90, 18709.30, 19363.50,
     16927.00, 16927.00, 5501.0]
}
                  
movil = pd.DataFrame(exporta)
# mostramos los 5 primeros registros

movil.head()

# calculamos para la primera media móvil MMO_3
for i in range(0,movil.shape[0]-2):
    movil.loc[movil.index[i+2],'MMO_3'] = np.round(((movil.iloc[i,1]+movil.iloc[i+1,1]+movil.iloc[i+2,1])/3),1)
                                                     
# calculamos para la segunda media móvil MMO_4
for i in range(0,movil.shape[0]-3):
    movil.loc[movil.index[i+3],'MMO_4'] = np.round(((movil.iloc[i,1]+movil.iloc[i+1,1]+movil.iloc[i+2,1]+movil.iloc[i+3,1])/4),1)
                                                     
# calculamos la proyeción final
proyeccion = movil.iloc[12:,[1,2,3]]
                                                     
p1,p2,p3 =proyeccion.mean()
                                                     
# incorporamos al DataFrame
a = movil.append({'Año':2018,'Exportaciones':p1, 'MMO_3':p2, 'MMO_4':p3},ignore_index=True)
# mostramos los resultados
a['e_MM3'] = a['Exportaciones']-a['MMO_3']
a['e_MM4'] = a['Exportaciones']-a['MMO_4']
a

       Año  Exportaciones     MMO_3     MMO_4    e_MM3    e_MM4
0   2003.0         5501.0       NaN       NaN      NaN      NaN
1   2004.0         6232.7       NaN       NaN      NaN      NaN
2   2005.0         8118.3   6617.30       NaN  1501.00      NaN
3   2006.0        10137.0   8162.70   7497.20  1974.30  2639.80
4   2007.0        10449.5   9568.30   8734.40   881.20  1715.10
5   2008.0        12794.0  11126.80  10374.70  1667.20  2419.30
6   2009.0        13193.0  12145.50  11643.40  1047.50  1549.60
7   2010.0        16036.2  14007.70  13118.20  2028.50  2918.00
8   2011.0        18496.9  15908.70  15130.00  2588.20  3366.90
9   2012.0        18709.3  17747.50  16608.90   961.80  2100.40
10  2013.0        19363.5  18856.60  18151.50   506.90  1212.00
11  2014.0        16927.0  18333.30  18374.20 -1406.30 -1447.20
12  2015.0        16927.0  17739.20  17981.70  -812.20 -1054.70
13  2011.0         5501.0  13118.30  14679.60 -7617.30 -9178.60
14  2018.0        11214.0  15428.75  16330.65 -4214.75 -5116.65

In [2]:
# calculamos el promedio de los cada una de las columnas de df

m1,m2,m3,m4,m5,m6 =a.mean()
print('Error Media Móvil 3 = ',round(m5),'Error Media Móvil 4 = ',round(m6))

Error Media Móvil 3 =  -69 Error Media Móvil 4 =  94

In [3]:
# Graficando los resultados

plt.figure(figsize=[8,8])
plt.grid(True)
plt.plot(a['Exportaciones'],label='Exportaciones',marker='o')
plt.plot(a['MMO_3'],label='Media Móvil 3 años')
plt.plot(a['MMO_4'],label='Media Móvil 4 años')
plt.legend(loc=2)