# SUAVIZACION EXPONENCIAL

## Calcular Suavizacion Exponencial

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# el DataFrame se llama movil
exporta = {
    'A単o':[2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2011],
    'Exportaciones':[5501.0, 6232.7, 8118.3, 10137.00, 10449.50, 12794, 13193.00, 16036.2, 18496.90, 18709.30, 19363.50,
     16927.00, 16927.00, 5501.0]
}
                  
movil = pd.DataFrame(exporta)
# mostramos los 5 primeros registros

movil.head()

alfa = 0.1
unoalfa = 1. - alfa

for i in range(0,movil.shape[0]-1):
    movil.loc[movil.index[i+1],'SN'] = np.round(movil.iloc[i,1],1)
    
for i in range(2,movil.shape[0]):
    movil.loc[movil.index[i],'SN'] = np.round(movil.iloc[i-1,1],1)*alfa + np.round(movil.iloc[i-1,2],1)*unoalfa
    
i=i+1
p1=0
p2=np.round(movil.iloc[i-1,1],1)*alfa + np.round(movil.iloc[i-1,2],1)*unoalfa
a = movil.append({'A単o':2018,'Exportaciones':p1, 'SN':p2},ignore_index=True)
a

       A単o  Exportaciones        SN
0   2003.0         5501.0       NaN
1   2004.0         6232.7   5501.00
2   2005.0         8118.3   5574.17
3   2006.0        10137.0   5828.61
4   2007.0        10449.5   6259.44
5   2008.0        12794.0   6678.41
6   2009.0        13193.0   7289.96
7   2010.0        16036.2   7880.30
8   2011.0        18496.9   8695.89
9   2012.0        18709.3   9676.00
10  2013.0        19363.5  10579.33
11  2014.0        16927.0  11457.72
12  2015.0        16927.0  12004.63
13  2011.0         5501.0  12496.84
14  2018.0            0.0  11797.22